body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    border: solid 3px #F8EDE3;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background: #C7F2A4;
    color: #989572;
    font-weight: bold;
}

body {
    background-color: blueviolet;
}